/* Подключение шрифтов */
@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/GolosText-Medium.woff2') format('woff2'), url('../fonts/GolosText-Medium.woff') format('woff'),
    url('../fonts/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/GolosText-SemiBold.woff2') format('woff2'), url('../fonts/GolosText-SemiBold.woff') format('woff'),
    url('../fonts/GolosText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/GolosText-Regular.woff2') format('woff2'), url('../fonts/GolosText-Regular.woff') format('woff'),
    url('../fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'), url('../fonts/Merriweather-Bold.woff') format('woff'),
    url('../fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.woff2') format('woff2'), url('../fonts/Merriweather-Regular.woff') format('woff'),
    url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Обнуляющие стили и базовая настройка*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Golos Text';
  font-weight: normal;
  height: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
input,
button,
textarea {
  font-family: 'Golos Text';
  font-size: 18px;
  font-weight: 700;
}
input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #a3adbf;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
a {
  color: inherit;
  display: inline-block;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
ul li,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
sub,
sup {
  line-height: 0;
}

.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
  transition-property: transform;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
/* .swiper-button-lock {
  display: none !important;
} */
